<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>order-management</display-name>
  <welcome-file-list>
    <welcome-file>UserLogin.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderController</servlet-name>
    <servlet-class>com.controller.UpdateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderController</servlet-name>
    <url-pattern>/UpdateOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimController</servlet-name>
    <servlet-class>com.controller.SimController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimController</servlet-name>
    <url-pattern>/SimController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderController</display-name>
    <servlet-name>CancelOrderController</servlet-name>
    <servlet-class>com.controller.CancelOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderController</servlet-name>
    <url-pattern>/CancelOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailsController</display-name>
    <servlet-name>OrderDetailsController</servlet-name>
    <servlet-class>com.controller.OrderDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsController</servlet-name>
    <url-pattern>/OrderDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaHomeController</display-name>
    <servlet-name>MaHomeController</servlet-name>
    <servlet-class>com.controller.MaHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaHomeController</servlet-name>
    <url-pattern>/MaHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpHomeController</display-name>
    <servlet-name>SpHomeController</servlet-name>
    <servlet-class>com.controller.SpHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpHomeController</servlet-name>
    <url-pattern>/SpHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderList</display-name>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>com.controller.OrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/OrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lcontroller</display-name>
    <servlet-name>Lcontroller</servlet-name>
    <servlet-class>com.controller.Lcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lcontroller</servlet-name>
    <url-pattern>/Lcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImsiDetailsController</display-name>
    <servlet-name>ImsiDetailsController</servlet-name>
    <servlet-class>com.controller.ImsiDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImsiDetailsController</servlet-name>
    <url-pattern>/ImsiDetailsController</url-pattern>
  </servlet-mapping>
</web-app>